
{% extends 'base.html' %}

{% load static %} 

{% block content %}
<h2>BookList</h2>

{% for book in books %}
    <div class="post">
        <strong>{{ user.username }} posted about "{{ book.title }}"</strong>
        <p>{{ post.caption }}</p>

        <img src="{{ book.thumbnail }}" alt="{{ book.book.title }} cover">
        <p>Authors: {{ book.authors }}</p>


        <!-- Likes Section -->
        <div>
          <button class="like-btn" data-post-id="{{ post.id }}" onclick="likePost('{{ post.id }}')">

                Like ({{ likes.count }})
            </button>
        </div>

        <!-- Comments Section (existing) -->
        <div class="comments">
            <h4>Comments:</h4>
            {% for comment in book.comments.all %}
                <p><strong>{{ user.username }}:</strong> {{ content }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}

<!-- Include a JavaScript file -->
<script src="{% static 'js/like.js' %}"></script>

{% endblock %}
