{% extends "base.html" %}

{% block content %}

<h1>Profile</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ profile_form.as_p }}
    <button type="submit">Update Profile</button>
</form>

{% if request.user.profile.profile_pic %}
    <img src="{{ request.user.profile.profile_pic.url }}" alt="Profile Picture" width="150">
{% endif %}

<h3>My Book Catalogue</h3>
{% if user_books %}
        <ul>
            {% for book in user_books %}
                <li>
                    <strong>{{ book.title }}</strong> by {{ book.authors }} <br>
                    Published: {{ book.published_date }} <br>
                    <img src="{{ book.thumbnail }}" alt="{{ book.title }} cover" width="100"> <br>
                    <p>{{ book.description }}</p>
                    <a href="{{ book.infolink }}" target="_blank">View on Google Books</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You haven't added any books to your catalog yet.</p>
    {% endif %}

<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit"> LOGOUT HERE</button>
</form>

{% endblock  %}